html
{
    width: 1190px;
    height: 1684px;
}

body
{
    width: 1190px;
    height: 1684px;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway';
    font-size: 16px;
    border: 1px solid black;
    margin: 0px;
}

#block-left
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    font-size: 20px;
    color: #FBFBFE;
    width: 32%;
    height: 100%;
    margin:0px;
    background-color: #2A3B47;
}

#content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    margin-top: 80px;
    width: 90%;
    height: 80%
}

.picture
{
    width: 200px;
    border-radius: 50%;
    border: 5px solid #EFF3F5;
    margin-bottom: 40px;
}

#contact-info
{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column; 
}

#left-info
{
    margin-bottom: 20px;
}

.left-item
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0px;
}

a:link
{
    color: #FBFBFE;
    text-decoration: none;
}

a:visited
{
    color: #FBFBFE;
    text-decoration: none;
}

.icon
{
    height: 35px;
    margin-right: 15px;
}

.left-title
{
    width: 100%;
    font-size: 32px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    color:#889297;
}

#block-right
{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 63%;
    height: 95%;
    margin: 0px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#name-description
{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    position: static;
    width: 100%;
    height: 20%;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

#name
{
    position: static;
    width: 100%;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    text-transform: uppercase;

    /* Black/900 */

    color: #111213;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#description
{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;

    position: static;
    width: 100%;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 12px 0px;
}

#title
{
    position: static;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    /* identical to box height, or 20px */


    /* Black/400 */

    color: #465967;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.achievement
{
    margin-top: 10px;
}

.description
{
    position: static;
    width: 100%;
    /* or 11px */


    /* Grey/700 Title */

    color: #2A3B47;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    text-align: justify;
    text-justify: inter-word;
}

#experience
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

#education
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
}

.title
{
    position: static;
    width: 100%;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;

    /* Black/900 */

    color: #111213;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.job
{
        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: center;
    
        position: static;
        width: 100%;
    
        /* Inside auto layout */
    
        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 12px 0px;
}

.job-name
{
    position: static;
    width: 100%;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    /* identical to box height */
    
    
    /* Black/400 */
    
    color: #465967;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.certification
{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: static;
    width: 100%;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 12px 0px;    
}

.institution
{
    position: static;
    width: 100%;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    /* identical to box height */
    
    
    /* Black/400 */
    
    color: #465967;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.studies
{
    position: static;
    width: 100%;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    /* identical to box height, or 14px */


    /* Grey/600 Text */

    color: #4D5557;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.honor
{
    font-weight: normal;
    font-size: 16px;
}

.date
{
    position: static;
    width: 100%;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* identical to box height, or 14px */


    /* Grey/600 Text */

    color: #4D5557;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px;
    margin-top: 16px;
}

hr.left-underline
{
    width: 50%;
    text-align:left;
    border: 1px solid #889397;
    margin: 15px 0px;  
}

hr.main
{
    width: 25%;
    text-align:left;
    margin:20px 0px;
    border: 2px solid #1292EE;
}

hr.separator
{
    width: 100%;
    text-align:left;
    margin-left:0;
    border: 1px solid #889297;
    margin-top: 0px;
    margin-bottom: 34px;
}